@{
    ViewBag.Title = "Home Page";
}



<div class="row">
   
        <h1>Service Application</h1>
        <div class="col-md-12">
            @Html.ActionLink("Create New Service Visit", "Create", "ServiceForm", null, new { @class = "btn btn-default btn-block square-box" })
        </div>
   
</div>
<div class="row center">

    <div class="row col-md-4">
        @Html.ActionLink("Parts", "Index", "Part", null, new { @class = "btn btn-info square-box btn-block" })
    </div>
    <div class="row col-md-4 ">
        @Html.ActionLink("Machines", "Index", "Machine", null, new { @class = "btn btn-info square-box btn-block" })
    </div>
    <div class="row col-md-4 ">
        @Html.ActionLink("Customers", "Index", "Customer", null, new { @class = "btn btn-info square-box btn-block" })
    </div>
</div>
